@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html,
body {
  cursor: default !important;
}

.drawer-content {
  overflow-y: auto !important;
}

.drawer-toggle {
  position: absolute !important;
  pointer-events: none !important;
  opacity: 0 !important;
}

.drawer-toggle {
  display: none !important;
}

/* body {
  font-family: "Poppins", sans-serif;
  
} */

/* soft gray */
